:root {
  --red: red;
  --gray: #2e2e2e;
}
img {
  width: 50px;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: black;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  align-item: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
